html {
  background-color: #edf0eb;
}

#root {
  padding: 5rem 12rem;
}

* {
    font-family: 'Poppins', sans-serif;
    background-color: #edf0eb;
}

/* Navbar Section */
.navbar-brand {
    font-size: 28px;
    font-weight: 800;
    color: #18204a;
}

.container-fluid {
    background-color: #edf0eb;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
    gap: 1rem;
}

.btn.btn-primary {
    padding: 12px 30px;
    background-color: #18204a;
    border-radius: 15px;
    font-weight: 500;
}

.btn.btn-primary:hover {
    background-color: #24306c;
}

.btn.btn-outline-success {
    padding: 12px 30px;
    border: 1px solid #18204a;
    color: #18204a;
    border-radius: 15px;
    font-weight: 600;
}

.btn.btn-outline-success:hover {
    background-color: #18204a;
    color: white;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    height: 55vh;
}

.pizza {
    width: 15%;
    height: auto;
    position: absolute;
    right: 12rem;
    top: 20rem;
    z-index: 1;
    background-color: rgb(0,0,0,0);
}

.lemon {
    width: 10%;
    height: auto;
    position: absolute;
    left: 12rem;
    top: 13rem;
    z-index: 1;
    background-color: rgb(0,0,0,0);
}

.quote {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    padding: 0rem 20%;
    position: relative;
    height: 100%;
    align-items: center;
    color: #18204a;
    margin-bottom: 0px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form-inline.my-2.my-lg-0 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-control.mr-sm-2 {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    padding: 14px 30px;
}

.form-control.mr-sm-2::placeholder {
    color: #afafaf;
    font-weight: 600;
    font-size: 16px;
}

.input-container span {
    position: absolute;
    right: 20px;
}

.material-symbols-outlined {
    background-color: rgb(0,0,0,0);
}

/* Accordion */
#main {
    padding: 5rem 0rem;
  }
  
  #main .accordion .card {
    margin-bottom: 30px;
    border: 0;
  }
  
  #main .accordion .card .card-header {
    padding: 0;
  }
  
  #main .accordion .card .card-header .btn-header-link {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background: #edf0eb;
    color: #18204a;
    padding: 20px;
    padding-left: 0px;
    border-top: 2px solid #18204a;
    border-bottom: 2px solid #18204a;
    border-radius: 0px;
    font-size: 20px;
    font-weight: 700;
  }
  
  #main .accordion .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
  }
  
  #main .accordion .card .card-header .btn-header-link.collapsed {
    color: #18204a;
  }
  
  #main .accordion .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
  }
  
  #main .accordion .card .collapsing {
    background: #FFE472;
    line-height: 30px;
  }
  
  #main .accordion .card .collapse {
    border: 0;
  }
  
  #main .accordion .card .collapse.show {
    background: #FFE472;
    line-height: 30px;
    color: #222;
  }

  #expand {
    float: right;
  }

  .card-body {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0rem;
    border-bottom: 2px solid #18204a;
  }

  .info-image {
    width: 80%;
    height: auto;
  }

  #mid-card {
    border-left: 2px solid #18204a;
    border-right: 2px solid #18204a;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .description {
    font-size: 14px;
    line-height: 17px;
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 18px;
  }

  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  #accordion2 {
    gap: 40px;
  }

  #accordion2.card-body {
    display: flex;
    flex-direction: column;
  }

  .about-image {
    width: 60%;
    height: auto;
  }

  #what-we-do {
    flex-direction: row;
    padding-bottom: 2rem;
    border-bottom: 2px solid #18204a;
  }

  #work-button {
    width: 60%;
    font-size: 14px;
  }

  #work {
    padding-left: 5%;
    padding-right: 0px;
  }

  #last-card {
    flex-direction: row;
    padding-bottom: 2rem;
    border-bottom: none;
  }

  #accordion3 {
    display: flex;
  }

  #download {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }

  .download-image {
    width: 59%;
  }

  #download-button {
    width: 10rem;
  }

  /* Footer Section */
  .footer-container {
    display: flex;
    justify-content: center;
  }

  .footer {
    display: grid;
    grid-template-columns: 50% 50%;
    background: #C1CEBD;
    padding: 3rem 15%;
    width: 90%;
  }

  .social-links {
    display: flex;
    gap: 20px;
    justify-content: right;
    flex-wrap: wrap;
    background: #C1CEBD;
  }

  .columns {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .social-names {
    margin-bottom: 0px;
    padding-bottom: 0.5rem;
    color: #18204a;
    font-weight: 400;
    background: #C1CEBD;
  }

  #social {
    font-weight: 700;
  }

  .logo {
    display: flex;
    background: #C1CEBD;
  }

  #footer-logo {
    font-size: 20px;
    background: #C1CEBD;
  }

  /* Media Queries */
  @media screen and (max-width: 1200px) {
    .quote {
      font-size: 48px;
    }

    #download-button {
      width: 100%;
      font-size: 14px;
    }

    #work-button {
      width: 100%;
      font-size: 14px;
    }

    .description {
      font-size: 12px;
    }

    #root {
      padding: 5rem 8rem;
    }
    
    #main {
      padding-bottom: 1rem;
    }

    .pizza {
      right: 8rem;
    }

    .lemon {
      left: 8rem;
    }
  }

  @media screen and (max-width: 900px) {
    

    #root {
      padding: 5em 5rem;
    }

    .lemon {
      left: 6rem
    }

    .pizza {
      right: 6rem
    }
  }

  @media screen and (max-width: 680px) {
    .lemon {
      left: 6rem
    }

    .pizza {
      right: 6rem
    }

    #accordion1 {
      display: flex;
      flex-direction: column;
    }

    .info-image {
      width: 70%;
    }

    #mid-card {
      border-left: none;
      border-right: none;
      border-bottom: 2px solid #18204a;
      border-top: 2px solid #18204a;
    }

    #what-we-do {
      flex-direction: column;
    }

    #last-card {
      flex-direction: column;
    }

    #download {
      flex-direction: column;
      width: 100%;
    }

    #root {
      padding: 5rem 3rem;
    }

    .lemon {
      left: 4rem;
    }

    .pizza {
      right: 4rem;
    }

    .quote {
      font-size: 32px;
    }
  }

  @media screen and (max-width: 500px) {
    .quote {
      font-size: 28px;
    }

    #download-button {
      width: 100%;
      font-size: 14px;
    }

    #work-button {
      width: 100%;
      font-size: 14px;
    }

    .description {
      font-size: 12px;
    }
    
    #main {
      padding-bottom: 1rem;
    }

    .form-inline.my-2.my-lg-0 {
      flex-direction: column;
    }

    .quote {
      padding: 0px 1rem;
    }

    #root {
      padding: 2rem 2rem;
    }

    #download-button {
      font-size: 12px;
      margin-bottom: 40px;
    }

    #download-image {
      width: 100%;
    }

    #work-button {
      font-size: 12px;
    }

    .pizza {
      right: 3rem;
      top: 18rem;
    }

    .lemon {
      top: 8rem;
      left: 3rem;
    }

    .footer {
      display: flex;
      flex-direction: column;
    }

    .social-links {
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
    }
  }